<!DOCTYPE html>

<html>
    <head>
        <title>Weather</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="icon" href="/img/icon.png" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            
            <p>Use this site to get your weather.</p>

            <form id="location-form">
                <div class="form-group">
                    <input id="location-search" placeholder="Location" /><i id="currentLocation" class="material-icons">my_location</i>
                </div>
                <button id="submit-button">Search</button>
            </form>

            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>

        {{>footer}}
    </body>
    <script src="/js/app.js"></script>
</html>